.lh-100,
.lh-100 * {
	line-height: 100%;
}
.lh-125,
.lh-125 * {
	line-height: 125%;
}
.lh-133,
.lh-133 * {
	line-height: 133%;
}
.lh-150,
.lh-150 * {
	line-height: 150%;
}
.lh-160,
.lh-160 * {
	line-height: 160%;
}
.lh-210,
.lh-210 * {
	line-height: 210%;
}
