.container {
	width: 100%;
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
}
.container-lg {
	width: 100%;
	max-width: $container-lg-width;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: calc($container-lg-width + $container-padding)) {
	.container-lg,
	.container-lg[class*='pl-'],
	.container-lg[class*='pr-'],
	.container-lg[class*='ph-'],
	.container-lg[class*='p-'] {
		padding-left: $container-padding;
		padding-right: $container-padding;
	}
	.container-lg .override-container-padding {
		margin-left: -$container-padding;
		margin-right: -$container-padding;
	}
}

@media (max-width: calc($container-width + $container-padding)) {
	.container,
	.container[class*='pl-'],
	.container[class*='pr-'],
	.container[class*='ph-'],
	.container[class*='p-'] {
		padding-left: $container-padding;
		padding-right: $container-padding;
	}
	.container .override-container-padding {
		margin-left: -$container-padding;
		margin-right: -$container-padding;
	}
}
