$default-gap: 1.25rem;

.hidden {
	display: none;
}
.block {
	display: block;
}
.visible {
	display: block;
}

.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}

.gap-0 {
	gap: 0 !important;
}

.gap-1px {
	gap: 1px !important;
}

.gap-1 {
	gap: 1rem !important;
}

[class^='f-'] {
	display: flex !important;
}

.f-column {
	flex-direction: column;
}

.f-row {
	flex-wrap: wrap;
	--col-gap: #{$default-gap};
	--row-gap: #{$default-gap};

	margin-right: calc(var(--col-gap) * -1);
	margin-top: calc(var(--row-gap) * -1);
	& > * {
		margin-right: var(--col-gap) !important;
		margin-top: var(--row-gap) !important;
	}
	&.f-stretch {
		& > * {
			height: 100%;
		}
	}
}

.f-overflow-wrapper {
	overflow: hidden;
}

.f-centered {
	justify-content: center;
	align-items: center;
}
.align-stretch {
	align-items: stretch;
}
.align-start {
	align-items: start;
}
.align-self-start {
	align-self: start;
}
.align-center {
	align-items: center;
}
.align-self-center {
	align-self: center;
}
.align-end {
	align-items: end;
}
.align-self-end {
	align-self: end;
}
.justify-start {
	justify-content: start;
}
.justify-self-start {
	justify-self: start;
}
.justify-center {
	justify-content: center;
}
.justify-self-center {
	justify-self: center;
}
.justify-end {
	justify-content: end;
}
.justify-self-end {
	justify-self: end;
}
.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

$col-width: calc(100% / 12);
.f-col {
	flex: 1;
}

@for $i from 1 through 12 {
	.f-col-#{$i} {
		width: calc(#{$col-width} * #{$i} - var(--col-gap));
	}
}

.f-reset-order {
	order: unset;
}
.f-first-col {
	order: -1;
}
.f-last-col {
	order: 1;
}

[class*='g-layout'] {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: $default-gap;
	grid-column-gap: $default-gap;
	grid-row-gap: $default-gap;
	grid-auto-flow: dense;
}
@for $i from 6 through 12 {
	.g-layout-#{$i} {
		grid-template-columns: repeat(#{$i}, 1fr);
	}
}
@for $i from 1 through 12 {
	.g-col-#{$i} {
		grid-column: span $i;
	}
	.g-col-start-#{$i} {
		grid-column-start: #{$i};
	}
	.g-col-end-#{$i} {
		grid-column-end: #{$i};
	}
}
.g-col-end-13 {
	grid-column-end: 13;
}

@mixin layout-media-content($breakpoint) {
	.#{$breakpoint}-hidden {
		display: none;
	}
	.#{$breakpoint}-visible {
		display: block;
	}
	@for $i from 1 through 12 {
		.f-#{$breakpoint}-col-#{$i} {
			width: calc(#{$col-width} * #{$i} - var(--col-gap));
		}
	}
	.f-#{$breakpoint}-first-col {
		order: -1;
	}
	.f-#{$breakpoint}-last-col {
		order: 1;
	}
	.f-#{$breakpoint}-reset-order {
		order: unset;
	}

	@for $i from 1 through 12 {
		.g-#{$breakpoint}-col-#{$i} {
			grid-column: span $i;
		}
		.g-#{$breakpoint}-col-start-#{$i} {
			grid-column-start: #{$i};
		}
		.g-#{$breakpoint}-col-end-#{$i} {
			grid-column-end: #{$i};
		}
	}
	.g-#{$breakpoint}-col-end-13 {
		grid-column-end: 13;
	}
}

@media (max-width: $large-desktop-width) {
	.large-desktop-hidden {
		display: none;
	}
	.large-desktop-visible {
		display: block;
	}
	@include layout-media-content(large-desktop);
}

@media (max-width: $small-desktop-width) {
	.small-desktop-hidden {
		display: none;
	}
	.small-desktop-visible {
		display: block;
	}
	@include layout-media-content(small-desktop);
}

@media (max-width: $tablet-width) {
	.tablet-hidden {
		display: none;
	}
	.tablet-visible {
		display: block;
	}
	@include layout-media-content(tablet);
}

@media (max-width: $large-mobile-width) {
	.large-mobile-hidden {
		display: none;
	}
	.large-mobile-visible {
		display: block;
	}
	@include layout-media-content(large-mobile);
}

@media (max-width: $mobile-width) {
	.mobile-hidden {
		display: none;
	}
	.mobile-visible {
		display: block;
	}
	@include layout-media-content(mobile);
}
