$container-width: 1200px;
$container-lg-width: 1376px;
$container-padding: 1.125rem;

$large-desktop-width: 1600px;
$small-desktop-width: 1300px;
$tablet-width: 1024px;
$large-mobile-width: 768px;
$mobile-width: 400px;

$form-field-padding-vertical: 0.625rem;
$form-field-padding-horizontal: 1.5rem;
